{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div id="home" class="row home">
        <div class="col-md-12">
            <h4 class="greeting" style="padding-bottom: 5px"> Hi, I'm</h4>  <h1 class="name">Tsiory</h1>
            <h5 class="job"><p>{ A web developer }</p></h5>
            <img id="home_logo" class="logo_motto" src="{{ preload(asset('build/images/logo_bg.png')) }}">
            <p class="logo_motto"><i>< Simple is The New Perfection/></i></p>
        </div>
    </div>
    <hr id="about" style="margin-top: 0">
    <div  class="about">
        <h3 style="visibility: hidden">About</h3>
        <div class="row">
            <div class="about_intro col-md-12">
                <p>I studied Computer Science and found my way in web development. Coding, learning new
                    languages and technologies became something that I really enjoy.</p>
                <p>Outside of study, I'm also a member of a group AO TSARA that promotes Malagasy culture through shows, songs and dances.</p>
                <img id="responsive" src="{{ preload(asset('build/images/responsive.png')) }}">
                <p>Responsive design ? It's my cup of tea! ;) I usually work with the following stack:</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 skill">
                <div class="card">
                    <div class="card-header"><h5>Front/Back</h5></div>
                    <div class="card-body">
                        <ul>
                            <li>HTML/CSS</li>
                            <li>PHP</li>
                            <li>Javascript</li>
                            <li>Bootstrap</li>
                            <li>Symfony 4</li>
                            <li>Codeigniter</li>
                            <li>Vue</li>
                        </ul>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
            <div class="col-md-4 skill">
                <div class="card">
                    <div class="card-header"><h5>Dev Tools</h5></div>
                    <div class="card-body">
                        <ul>
                            <li>PhpStorm</li>
                            <li>Git</li>
                            <li>Photoshop</li>
                            <li>Bitbucket</li>
                            <li>GitHub</li>
                            <li>WAMP</li>
                        </ul>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
            <div class="col-md-4 skill">
                <div class="card">
                    <div class="card-header"><h5>Soft Skills</h5></div>
                    <div class="card-body">
                        <ul>
                            <li>Teamwork</li>
                            <li>Approachability</li>
                            <li>Helpfulness</li>
                            <li>Patience</li>
                            <li>Communication</li>
                            <li>Accountability</li>
                            <li>Creativity</li>
                        </ul>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 50px">
        <div class="col-md-12">
            <p>Collaboration with:</p>
            <a href="https://www.advitrust-consulting.mg/" target="_blank"><img id="advitrust" src="{{ asset('build/images/advitrust.png') }}"></a>
        </div>
    </div>
    <hr id="contact">
    <div  class="row contact">
        <div class="col-md-6 offset-md-3 col-sm-12 form">
            <h3 style="visibility: hidden">Contact</h3>
            <legend>Any questions?<img id="send" src="{{ preload(asset('build/images/send.png')) }}"></legend>
            <p>Feel free to contact me if you wanna collaborate or have some project</p>
            <div class="row">
                <div class="col-md-12" style="text-align: center">
                        <div class="alert"></div>
                </div>
            </div>
            <div class="row">
                <div class="contact_form col-md-12">
                    {{ form_start(formContact,{'attr':{'id':'contactform'}}) }}
                    <div class="form-group">
                        {{ form_row(formContact.name, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(formContact.email,{'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(formContact.message,{'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <button type="submit" id="send_button" class="btn btn-success" style="float: right;">
                            send
                        </button>
                        <INPUT TYPE="button" class="hidden" id="clear" VALUE="clear" onClick="this.form.reset();">
                    </div>
                    {{ form_end(formContact) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

{% endblock %}