<!DOCTYPE Html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="card">
        <div class="card-header">
            {{ subject }}
        </div>
        <div class="card-body">
            <div class="jumbotron-fluid">
                {{ contact.message }}
            </div>
        </div>
        <div class="card-footer">
            From : {{ contact.name }}
            Reply to : {{ contact.email }}
        </div>
    </div>
    </body>
</html>


