@import "./../../node_modules/bootstrap/dist/css/bootstrap.css";
body {
    background-color: #F5F5F5;
}

p{
    font-size: 1rem;
}

#home{
    padding-top: 90px;
}

#home{
    background-color: #F5F5F5;
    text-align: center;
}

.home{
    padding-top: 50px;
}

.greeting{
    padding-top: 25px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 4s;
}

.name{
    background:#343a40;
    color:#fff;
    width:200px;
    margin: auto;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 7s;
}

.job{
    padding-top: 10px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 9s;
}

.alert, .hidden{
    display: none;
}

.logo_motto {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 10s;
}

nav{
    padding: 10px 10px!important;
}

.navbar-brand img{
    width: 50px;
}

li{
    list-style: none;
    padding-top: 10px;
    font-size: 1rem;
}

#about,#contact{
    padding-bottom: 50px;
}

.skill{
    padding-top: 20px;
}

.card-body{
    padding-top: 20px;
    text-align: left;
    min-height: 295px;
}

.about, .contact, .home{
    padding-top: 20px;
    min-height:300px;
}

.about_intro{
    padding-bottom: 25px;
    max-width:800px ;
    margin: auto;
}


.about{
    text-align: center;
}

#advitrust{
    width: 200px;
}

.page-footer{
    padding-top: 25px;
    text-align: center;
    background: #525d63;
}

.footer-copyright{
    margin-top:-10px;}

.form{
    text-align: center;
}

#send{
    width: 50px;
}

.contact{
    padding-bottom: 50px;
}

.contact_form{
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: left;
    background: #FFFFFF;
}

#messenger{
    position: fixed;
    width: 40px;
    bottom: 25px;
    right: 25px;
}

#phone{
    height: 35px;
}

.contact_rapide_logo{
    width:30px;
}

.footer-copyright{
    margin-top: 10px;
}


@media only screen and (max-width:977px){
    #home_logo{
        width:75%;
    }

    .nav-item{
        padding: 10px!important;
    }
}

@media only screen and (max-width:632px){
    #home_logo{
        width:70%;
    }

    .contact_rapide{
        padding-top: 40px!important;
    }
}

@media only screen and (max-width:350px){
    #responsive{
        width: 90%;
    }

    .contact_rapide{
        padding-top: -10px!important;
        padding-bottom: 50px!important;
    }

    #phone{
        padding-top: 0px!important;
        padding-bottom: 10px!important;
    }

    #linkedin{
        padding-bottom: 15px!important;
        padding-top: 0px!important;
    }
}
