<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TsioryRas{% block title %}{% endblock %}</title>
    <meta name="resource-type" content="document">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="développeur web, développeur,  web, développement web, front-end, back-end, HTML/CSS, Symfony 4, Vue js, Bootstrap">
    <meta name="description" content="TsioryRas est un développeur web">
    <meta property="keywords" content=" ">
    <meta property="description" content="">
    <meta property="og:description" content="TsioryRas est un développeur web">
    <meta property="og:type" content="website">
    <meta property="og:title" content="TsioryRas ">
    <meta property="og:url" content="">
    <link rel="shortcut icon" type="image/x-icon" href="{{ preload(asset('build/images/logo.svg')) }}" />
    <link rel="stylesheet" type="text/css" href="{{ preload(asset('build/app.css')) }}">
    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="navbar-brand"><img src="{{ preload(asset('build/images/logo.png')) }}"></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">A propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="body" class="container">
        {% block body %}{% endblock %}
    </div>
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>

    <footer class="page-footer font-small">
        <div class="container">
            <div class="row">
                <div class="col-md-3 offset-md-3 contact_rapide">
                    <img src="{{ preload(asset('build/images/mobile-brands.svg')) }}" id="phone" class="contact_rapide_logo"><p style="font-size: smaller">+33 6 41 57 78 43</p>
                </div>
                <div class="col-md-3 contact_rapide">
                    <!--Linkedin -->
                    <a href="https://www.linkedin.com/in/tsiory-rasamoely-657189a7/">
                        <img src="{{ preload(asset('build/images/linkedin-brands.svg')) }}" id="linkedin" class="contact_rapide_logo">
                    </a>
                </div>
            </div>
        </div>
        <a href="https://m.me/100003217681828" target="_blank" title="Text me on messenger">
            <img id="messenger" src="{{ preload(asset('build/images/messenger-brands.svg')) }}" class="contact_rapide_logo">
        </a>
        <div class="footer-copyright text-center py-2" >© 2019 Copyright:
            <a href="{{ path('default') }}"> tsioryras</a>
        </div>
    </footer>
    {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        $(document).ready(function() {

            $('.logo_motto').css('opacity','1');
            $('.greeting').css('opacity','1');
            $('.name').css('opacity','1');
            $('.job').css('opacity','1');
            $('.nav-link').on('click', function() {
                let page = $(this).attr('href');
                let speed = 1500;
                $('html, body').animate( { scrollTop: $(page).offset().top }, speed );
                $('#navbarColor02').removeClass('show');
                return false;
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $('#contactform').on('submit',function(e) {
                console.log('clic !');
                e.preventDefault();
                var obj = $(e.target);
                $.ajax({
                    type: obj.attr('method'),
                    url: obj.attr('action'),
                    data: obj.serializeArray(),
                    success: function(response) {
                        if (response.status===200){
                            $('#clear').click();
                            $('.alert').addClass('alert-success');
                        }else{
                            $('.alert').addClass('alert-danger');
                        }
                        $('.alert').html(response.message);
                        $('.alert').css('display','block');
                        setTimeout(function(){$('.alert').css('display','none');},3000);
                    }
                });
            });
        });
    </script>
    </body>
</html>
